<h3>
  ORDENES DE COMPRA <small> ABIERTAS</small>
</h3>
<hr>
<div class="row">
  <div class="col-md-4">
    <select class="form-control" [(ngModel)]="operario">
      <option *ngFor="let item of listaOperarios" [ngValue]="item"> {{item.name}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <button class="btn btn-sm btn-warning" (click)="mostrarTareas()"><i class="fa fa-tasks"  aria-hidden="true"></i> Trabajo</button>
  </div>
</div>
<hr>
<form>
<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th><input class="form-control"  type="number" [(ngModel)]="filtro.docNum"  name="docNum" placeholder="#Documento"> </th>
      <th><input class="form-control" type="text" [(ngModel)]="filtro.contenedor" name="contenedor" placeholder="contenedor"></th>
      <th><input class="form-control" type="text" [(ngModel)]="filtro.articulo" name="articulo" placeholder="articulo"></th>
      <th><input class="form-control" type="text"  [(ngModel)]="filtro.eTA" name="eTA" placeholder="YYYY/MM/DD" ></th>
      <th>Bodega</th>
      <th>Cantidad</th>
      <th>#Factura</th>
      <th>Comentarios</th>
      <th>--</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaEntradas | TableFilter:filtro">
      <td>{{item.docNum}}</td>
      <td>{{item.contenedor}}</td>
      <td>{{item.articulo}}</td>
      <td>{{item.eTA}}</td>
      <td>{{item.bodega}}</td>
      <td><span class="badge badge-info">{{item.cantidad|number:'.0'}}</span></td>
      <td>{{item.numFactura}}</td>
      <td>{{item.comentarios}}</td>
      <td>
        <button  class="btn btn-primary btn-sm" #control (click)="agregarALista(item,control)"><i class="fa fa-check" aria-hidden="true"></i></button>
      </td>
    </tr>
  </tbody>
</table>
</form>
