<div class="modal-dialog"  role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><i class="fa fa-tasks"></i> Listado de Tareas <small>para asignación</small></h5>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <div class="card text-center">
        <div class="card-block">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="transporte">Transporte</label>
              <select placeholder="Transporte.." id="transporte" #trans class="form-control form-control-sm" [(ngModel)]="transporte.transporte" (change)="obtenerPilotos(trans.options[trans.value-1].text)">
                <option *ngFor="let item of listaTransporte" [value]="item.codigo">{{item.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-md-4" *ngIf="transporte.transporte">
              <label for="pilotos">Piloto</label>
              <select id="pilotos" class="form-control form-control-sm" [(ngModel)]="transporte.piloto" (change)="seleccionarPiloto(transporte.piloto)" >
                <option *ngFor="let item of listaPilotos" [value]="item.piloto">{{item.piloto}}</option>
              </select>
            </div>
            <div class="form-group col-md-4" *ngIf="transporte.tipoVehiculo">
              <label for="pilotos">Vehículo</label>
              <input type="text" class="disabled"  class="form-control form-control-sm" disabled [value]="transporte.tipoVehiculo+'/'+transporte.placas">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4" >
              <label for="pilotos">No. Guía</label>
              <input type="number"  [(ngModel)]="numGuia" class="form-control form-control-sm text-center" >
            </div>
            <div class="form-group col-md-4" >
              <label for="pilotos">Valor Guía</label>
              <input type="number" [(ngModel)]="valorGuia" class="form-control form-control-sm text-center" >
            </div>
            <div class="form-group col-md-4" >
              <label for="pilotos">Total Km Por Entrega</label>
              <input [(ngModel)]="totalKilometraje" type="text"   class="form-control form-control-sm" >
            </div>
          </div>
        </div>
      </div>
      <hr>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Documento</th>
            <th>Kilometraje</th>
            <th>Cantidad/Artículos</th>
            <th>Tiempo/min.</th>
            <th>Prioridad</th>
            <th>--</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this._tareaService.listar();let i =index;">
            <td>{{i+1}}</td>
            <td>{{item.documento.docNum}}</td>
            <td style="text-align: center;width: 60px;">
              <input type="number" (focus)="kilometrajeIn(km.value)" (focusout)="kilometrajeOut(km.value)" #km [(ngModel)]="item.kilometraje" class="form-control form-control-sm text-center">
            </td>
            <td style="text-align: center;width: 300px;">
              <p>
                <button class="btn btn-sm btn-default"  (click)="collapse(elemento);this.isCollapse=!this.isCollapse">Detalle</button>
              </p>
              <div class="collapse"  #elemento id="collapseExample">
                <div class="card">
                  <ul class="list-group list-group-flush" *ngFor="let detalle of item.detalleTarea">
                    <li class="list-group-item" style="word-wrap: break-word; width: 200px;font-size: 10px">{{detalle.articulo}} / {{ detalle.asignado | number:'.0'}}</li>
                  </ul>
                </div>
              </div>
            </td>
            <td style="text-align: center">
              <select class="form-control input-small" [(ngModel)]="item.duracion">
                <option>15</option>
                <option>30</option>
                <option>45</option>
                <option>60</option>
                <option>90</option>
                <option>120</option>
                <option>150</option>
                <option>180</option>
              </select>
              <pre>{{item.duracion || 0}} min.</pre>
            </td>
            <td style="text-align: center">
              <div class="btn-group">
                <label class="btn btn-warning" btnRadio="Urgente" [(ngModel)]="item.prioridad" name="prioridad" ngDefaultControl>Urgente</label>
                <label class="btn btn-danger" btnRadio="Alta"  [(ngModel)]="item.prioridad" name="prioridad" ngDefaultControl>Alta</label>
                <label class="btn btn-primary" btnRadio="Media" [(ngModel)]="item.prioridad" name="prioridad" ngDefaultControl>Media</label>
                <label class="btn btn-info" btnRadio="Baja"  [(ngModel)]="item.prioridad" name="prioridad" ngDefaultControl>Baja</label>
              </div>
              <pre>{{item.prioridad}}</pre>
            </td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="eliminarTarea(item)"> <i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-sm" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
