  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title || 'Confirm'}}</h5>
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body card-header text-center">
        <div class="card text-center">
          <div class="card-header">Información General</div>
          <div class="card-block">
            <ul class="list-group">
              <li class="list-group-item"> No. <code>{{entrega.DocNum}}</code></li>
              <li class="list-group-item">Cliente, <code>{{entrega.CardName}}</code></li>
              <li class="list-group-item">Dirección de entrega, <code>{{entrega.Direccion}}</code></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">
              Productos
              <button class="btn btn-sm btn-success float-right" (click)="cambio()">Tarea Parcial</button>
            </h4>
            <table class="table table-bordered table-hover table-responsive">
              <thead>
              <tr>
                <th>#</th>
                <th>Artículo</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Entregado</th>
                <th>Pendiente</th>
                <th>Asignado</th>
              </tr>
              </thead>
              <tbody>
              <tr  *ngFor="let item of entregaLineas | async;let i =index">

                <td>{{i+1}}</td>
                <td>{{item.Articulo}}</td>
                <td style="word-wrap: break-word; width: 200px;font-size: 10px">{{item.Descripcion}}</td>
                <td><span class="badge badge-default">{{item.Cantidad | number:'.0'}} </span></td>
                <td><span class="badge badge-success">{{item.Entregado | number:'.0'}}</span></td>
                <td><span class="badge badge-danger">{{item.Pendiente | number:'.0'}}</span></td>
                <td><input [(ngModel)]="item.Asignado"  type="number" (focusout)="asignacionParcial(item);cantidad.disabled=true" [disabled]="!editable" class="col-lg-7" max="{{item.Pendiente}}" min="0"    #cantidad   ></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="prueba()">Seleccionar Trabajo</button>
        <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
