<h3>
  ORDENES DE VENTA <small> ABIERTAS</small>
</h3>
<hr>
<div class="row">
  <div class="col-md-4">
    <select class="form-control" [(ngModel)]="operario" >
      <option *ngFor="let item of listaOperarios" [ngValue]="item"> {{item.name}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <button class="btn btn-success btn-sm" (click)="listaTareas()" *ngIf="operario.name"><i class="fa fa-tasks"  aria-hidden="true"></i> Tareas</button>
  </div>
</div>
<hr>
<form>
  <table class="table table-bordered table-hover table-responsive">
    <thead class="thead-default">
      <tr>
        <th><input class="form-control" type="text" name="bodega" [(ngModel)]="filtro.bodega" placeholder="Bodega"></th>
        <th><input  class="form-control" type="number" name="docNum" [(ngModel)]="filtro.docNum"  placeholder="# Pedido"></th>
        <th><input  class="form-control input-sm" type="text" name="cardName" [(ngModel)]="filtro.cardName" placeholder="Cliente"></th>
        <th><input  class="form-control input-sm" type="text" name="direccion"  [(ngModel)]="filtro.direccion" placeholder="Dirección de Entrega" ></th>
        <th><input  class="form-control input-sm" type="text" name="ruta" [(ngModel)]="filtro.ruta" placeholder="Ruta"></th>
        <th><input  class="form-control input-sm" type="text" name="zona_Entrega" [(ngModel)]="filtro.zona_Entrega" placeholder="Zona Entrega" ></th>
        <th><input class="form-control input-sm" type="text" name="fecha_Pedido" [(ngModel)]="filtro.fecha_Pedido" placeholder="Fecha Pedido"></th>
        <th>Comentarios</th>
        <th>Cant/Despacho</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data  | TableFilter:filtro">
        <td>{{item.bodega}}</td>
        <td>{{item.docNum}}</td>
        <td>{{item.cardName}}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.ruta}}</td>
        <td>{{item.zona_Entrega}}</td>
        <td>{{item.fecha_Pedido }}</td>
        <td>{{item.comentarios}}</td>
        <td>
            Solicitado: {{item.quantity | number:.0}}
            Despachado: {{item.entregado | number:.0}}
            Pendiente: {{item.pendiente | number:.0}}
        </td>
        <td><button class="btn btn-sm btn-primary" (click)="obtenerDetalle(item)"><i class="fa fa-newspaper-o" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>
</form>
