<nav *ngIf="auth.isAuthenticated" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">WMS<small>GRS</small></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tarea
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a  class="dropdown-item" [routerLink]="['tarea']">Historial de Trabajo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['entrega']">Orden de Venta</a>
            <a class="dropdown-item" [routerLink]="['entrada']">Orden de Compra</a>
            <a class="dropdown-item" [routerLink]="['devolucion']">Devolución</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['inventario']">Inventario</a>
            <a class="dropdown-item" [routerLink]="['inventario']">Transferencia de Stock</a>
        </div>
      </li>
    </ul>
    <span class="navbar-text">
      ¡Bienvenido {{auth.userInformation.username}}!
      <button (click)="auth.logout()" class="btn btn-sm btn-outline-primary btn-margin" *ngIf="auth.isAuthenticated" >Logout</button>
    </span>
  </div>
</nav>
