/* You can add global styles to this file, and also import other style files */



.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.container{
  margin-left: 20px!important;
  padding-left: 15px!important;
}

.main-container{
  margin-top:40px;
}

.modal-content, .modal-dialog{
  width:900px!important;
  left: -10%!important;
}

.modal-tarea{
  width:500px!important;
  left: -10%!important;
}



/* Important part */
.modal-dialog{
  overflow-y: initial !important;

}
.modal-body{
  height: 450px;
  overflow-y: auto;
}

.col-centered{
    margin: 0 auto;
    float: none;
}
